<div class="container-fluid">
  <footer class="footer">
    <small>
      copyright &copy; <a href="https://mridulmishrarails.com">The complete ruby on rails course</a>
      by <a href="https://www.mridul.com">Mridul Mishra</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to 'About', about_path %></li>
      </ul>
    </nav>
  </footer>
</div>
